*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*barder box ah set aka*/
    font-family: 'poppins',sans-serif;
}
body{
    /*width:100vw; /*viewport width
    height:100vw;*/
    background-color:black;
    color:#6E6E6DFF;
    display:flex;/*content center la matha*/
    justify-content: center;
    align-items: center;/*property illna content crnter la vara*/
    flex-direction: column;/*eppiti content irukanum row ah column ah*/
}
.total_box{
    display:grid;
    grid-template-columns: repeat(3,auto);
    
}
.box{
    width:150px;
    height:150px;
    border:2px solid ;
    box-shadow:  0 0 0 2px  ;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}
.game{
    padding:20px;
    font-size:35px;
    font-weight: 700;
    color:#ff4757
}
button{
    width:150px;
    height:50px;
    font-size: 28px;
    color:#03ef62;
    background-color:rgb(255, 255, 255);
    border:none;
}

h4{
    padding-bottom:100px;
    font-size:32px;
    color:#ADEFD1FF;
    Margin-top:30px;
}
.anime{
    animation-name:animea;
    animation-duration:2s;
}
@keyframes animea{
    0%{
        transform:scale(1.5);
    }
}